@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #090B10;
    color: #F1F3F5;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #252B36;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1B202B;
}
